<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href = "{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
</head>
<body >
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 0rem;">
                        <div class="card-body p-5 text-center">
                           <div class="mt-md-4 pb-3">
                                <h2 class="fw-bold mb-2 text-uppercase">Admin Login</h2>
                                <p class="text-white-50 mb-5">Please enter your username and password!</p>
                                <form method="POST", action="/dashboard ">                                
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" name="uname" id="typeEmailX" class="form-control form-control-lg bg-dark text-white" placeholder="User Name"/>
                                        <label class="form-label" for="uname"></label>
                                    </div>
        
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" name="upass" id="typePasswordX" class="form-control form-control-lg bg-dark text-white"  placeholder="Password"/>
                                        <label class="form-label" for="upass"></label>
                                    </div>
                            
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </form>
                                <br>
                                {{warning}}
                                <br>
                                <div class="small text-center text-muted fst-italic">Copyright &copy; {{params['post_name']}} 2023</div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>